<section>
  <br><br>
    <button id="js-trigger-overlay" type="button">
      <%= link_to "Random Song", random_path, target: '_blank', style: 'text-decoration:none' %>
    </button>
</section>




<%#= button_to '+', {:controller => "votes", :action => "create", :car_id => car.id, :user_id=> session[:user_id]} , :method=>:post  %>
