<h1>add new songs to the shuffle, ya bish</h1>

<%= form_tag(controller: "songs", action: "create", method: "get") do %>
  <%= label_tag :q, "itunes search:" %>
  <%= text_field_tag :q, nil, placeholder: "enter artist" %>
  <%= submit_tag("get em") %>
<% end %>