<div align="center">

  <h1 align="center"><%= @playlist.name %></h1>

  <% @songs.each do |song| %>
    <h5><%= song.artist %> :: <%= song.track_name %></h5>
    <%= link_to (image_tag song.art_work), playlist_song_path(@playlist, song) %>
  <% end %>

</div>